---

export async function getStaticPaths() {
  const pages = [
    {
      slug: "lsn1",
      title: "What to do With Your Income",
      video: "https://docs.google.com/presentation/d/e/2PACX-1vSjxJh1ovEuXI5sTleej_Zy7ytiap88kkiMq-Ij2onMmHgfc7w7xPgOQ8ARIpZuAqURbfgLALIlMRtk/embed?start=false&loop=false&delayms=60000",
      text: "lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. lorem ipsumipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. lorem ipsum",
    },
    {
      slug: "lsn2",
      video: "https://docs.google.com/presentation/d/e/2PACX-1vRGKlCRXnxvMyElwqistH1OAsn__ZdXZypljq3a47x8Am2JKBsy6UnlOwcPQFvq4XPrc_xcvIRrdBZI/embed?start=false&loop=false&delayms=60000",
      title: "Intro to Taxes",
      text: "I warned you!",
    },
    {
      slug: "lsn3",
      video: "https://docs.google.com/presentation/d/e/2PACX-1vRWKhNsxVrC6ckiKiA8AhDES-tA6k0m6QGSGlzOg698xBhkCAn9IVCHI3mPIgl77TyjMnq0iQ7drj9t/embed?start=false&loop=false&delayms=60000",
      title: "Intro to Insurance",
      text: "lorem",
    },
    {
      slug: "lsn4",
      video: "https://docs.google.com/presentation/d/e/2PACX-1vTA9_SenbFiutTmIGpyxPXxFmOkZS-J3o-RAF8R-Y8T2-qnrUb76GZvtp0AOcfkzGerkG65kVFrOSHt/embed?start=false&loop=false&delayms=60000",
      title: "Investing for Beginners",
      text: "lorem",
    },
    {
      slug: "lsn5",
      video: "https://docs.google.com/presentation/d/e/2PACX-1vTd4sUXu9auhnOSOX4IGV839vrW-c_qfF0sRqekGENwxulrVva0DvDOFcO9A5kpX0PYiIngK3HR_SN2/embed?start=false&loop=false&delayms=60000",
      title: "Getting Ready for College - Financially",
      text: "lorem",
    },
    {
      slug: "lsn6",
      video: "https://docs.google.com/presentation/d/e/2PACX-1vS5eXULCWsLFhhfPm11q9MHKvJozRS6Is6dwq872YeiKebAoXvJr4j2QDLVOkwTVcGLLFYvTc_uNBCm/embed?start=false&loop=false&delayms=60000",
      title: "Debt Management",
      text: "lorem",
    },
    {
      slug: "lsn7",
      video: "https://docs.google.com/presentation/d/e/2PACX-1vQcunZr8tNZmA2bxnZbjp3Slm610Z14up60sv-aH0hd9IhSWlYMRE-sbzNS6J3m0JUFmeUXG_Qo5MNI/embed?start=false&loop=false&delayms=60000",
      title: "All About Credit",
      text: "lorem",
    },
    {
      slug: "lsn8",
      video: "https://docs.google.com/presentation/d/e/2PACX-1vRdWuQ1DKwoNeoPJjrPSWsihw6QQAY828Me_AYdb3EKe0RYgoAb6k3hV8Fb1jTadmblXsgVE86tz9f3/embed?start=false&loop=false&delayms=60000",
      title: "College Loan Planning",
      text: "lorem",
    },
    {
      slug: "lsn9",
      video: "https://docs.google.com/presentation/d/e/2PACX-1vQaOHXKBC2JE2VG1RqgkMn5cKPqGuoNsXRurXuQSwYB1Xy2i4Zeuv8pyVYZQyB8jH59F_utxEwEQXDC/embed?start=false&loop=false&delayms=60000",
      title: "Budgeting",
      text: "lorem",
    },
  ];
  return pages.map(({ slug, title, text, video }) => {
    return {
      params: { slug },
      props: { title, text, video, slug },
    };
  });
}

const { title, text, video, slug } = Astro.props;

let lessons = [
  {
    title: "What to do With Your Income",
    link: "/lessons/lsn1",
    },
    {
    title: "Intro to Taxes",
    link: "/lessons/lsn2",
    },
    {
    title: "Intro to Insurance",
    link: "/lessons/lsn3",
    },
    {
    title: "Investing for Beginners",
    link: "/lessons/lsn4",
    },
    {
    title: "Getting Ready for College - Financially",
    link: "/lessons/lsn5",
    },
    {
    title: "Debt Management",
    link: "/lessons/lsn6",
    },
    {
    title: "All About Credit",
    link: "/lessons/lsn7",
    },
    {
    title: "College Loan Planning",
    link: "/lessons/lsn8",
    },
    {
    title: "Budgeting",
    link: "/lessons/lsn9",
    },
];

let currentLesson = lessons.findIndex((lesson) => lesson.link === `/lessons/${slug}`);

console.log(currentLesson);
---
<html class="h-full">
    <head>
        <title>{title}</title>
    </head>
    <body class="h-full flex">
        <nav class="w-1/4 h-full bg-gray-200 shadow-lg overflow-x-auto hidden md:block">
            <div class="h-16 flex flex-col p-5 gap-2 sm:justify-start ">
                <a href="/" class="text-2xl font-bold">Fynaplan</a>
                {lessons.map((lesson) => (
                    <a href={lesson.link} class="px-8 cursor-pointer py-3 rounded-full hover:bg-gray-300 transition-all">{lesson.title}</a>
                ))}
            </div>
        </nav>
        <div class="w-screen md:w-3/4 p-5 flex flex-col gap-10 overflow-y-scroll">
            <h1 class="text-4xl font-bold text-center">{title}</h1>
            <div class="w-full md:w-[70vw] h-full">
                <iframe class="w-full h-[70vh]" src={video} title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div>
            <h1 class="text-2xl font-bold text-left pb-5">Description</h1>
            <p>{text}</p>
            </div>
            <div class="flex flex-row gap-10 items-center justify-center">
                {currentLesson!==0 && <a href={currentLesson === 0 ? lessons[lessons.length - 1].link : lessons[currentLesson - 1].link} class="bg-purple-800 rounded-full w-40 py-3 font-semibold text-white text-center">Previous</a>}
                <a href={currentLesson === lessons.length - 1 ? lessons[0].link : lessons[currentLesson + 1].link} class="bg-purple-800 rounded-full w-40 py-3 font-semibold text-white text-center ">Next</a>
        </div>
    </body>
</html>